html, body{
	margin : 0;
	background: #fff; /*#f1f1f1;*/
}
h3{
	font-size : large;
	font-family : "Open Sans", sans-serif;
	color : #fff;
	margin : 10px;
}
.header{
	padding : 5px 2%;
	background : #008ffb;
}
.container{
	width : 100%;
	/*padding: 10px 0;
	text-align: center;*/
}
.inner-container{ 
	/*display: inline-block; */
}
.menu{
	width : 15%;
	display : inline-block;
	vertical-align: top;
	font-family : "Open Sans", sans-serif;
	box-shadow : inset -1px -2px 1px 0.1px #e2e2e2;
}

.menu-inner{
	padding : 0 0 15px;
}
.menu-header{
	padding : 10px 0 10px 5px;
	background: #f1f1f1;
}
.menu-option{
	color : #000;
	padding : 5px 0 5px 5%;
	font-size : small;
	width : 95%;
	display : inline-block;
	text-decoration : none;
}
.menu-option:hover{
	text-decoration : underline;
}
.graph{
	width : 84%;
	display : inline-block;
	text-align: center;
	background: #fff;
    padding: 20px 0 50px;
}
.inner-graph{
	display : inline-block;
	background : #ffffff;
	text-align: center;
	box-shadow: 1px 15px 25px 10px #e2e2e2;
    border: 1px solid #ddd;
}
.graph svg{
	cursor : crosshair;
}
.btn-div{
	width: 100%;
	padding : 15px 0;
	text-align: center;
	display : none;
}
.btn{
	padding: 5px 25px;
    background: #008ffb;
    border: 0;
    color: #fff;
    cursor: pointer;
   
}
.btn:hover{
	box-shadow: 1px 1px 8px 8px #008ffb40;
}
