html, body{
	margin : 0;
	background: #fafafa;
}
h3{
	font-size : large;
	font-family : "Open Sans", sans-serif;
	color : #fff;
}
.header{
	padding : 5px 5%;
	background : #008ffb;
}
.container{
	width : 96%;
	padding: 10px 2%;
	text-align: center;
}
.inner-container{
	//width : 49%;
	display: inline-block;
	border : 1px solid #ddd;
	
}
.graph{
	background : #ffffff;
	text-align: center;
	box-shadow: 0px 7px 25px 10px #f3f3f3;
}
.graph svg{
	cursor : crosshair;
}
.btn-div{
	width: 100%;
	padding : 15px 0;
	text-align: center;
	display : none;
}
.btn{
	padding: 5px 25px;
    background: #008ffb;
    border: 0;
    color: #fff;
    cursor: pointer;
   
}
.btn:hover{
	box-shadow: 1px 1px 8px 8px #008ffb40;
}